# --- Dados e Planilhas ---
# Ignora toda a pasta data (onde está sua planilha)
data/
# Ignora arquivos Excel especificamente
*.xlsx
*.xls
*.csv
# Bloqueio direto do arquivo da imagem
planilha_geral_cursos.xlsx

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# --- Bancos de Dados ---
# Como você mencionou o uso de DuckDB, ignore os arquivos de banco local
*.db
*.duckdb

# --- Sistema e IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/